build/
out/
.cache/
.idea/
.vscode/.cmake/
CMakeUserPresets.json
compile_commands.json
*.o
*.a
*.so
*.swp
*.tmp
generated/
examples/**/build/
examples/**/generated/
docs/latex/main.log
docs/latex/main.aux
docs/latex/main.toc
docs/latex/main.out
docs/latex/main.fdb_latexmk
docs/latex/main.fls
docs/latex/main.synctex.gz
todoplan.md